.checkbox, .radio {
  opacity: 0;
  position: absolute;
}

.checkbox, .checkbox-label, .radio, .radio-label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox-label, .radio-label {
  position: relative;
  line-height: 1em;
  font-size: 1em;
}

.checkbox + .checkbox-label:before, .radio + .radio-label:before {
  @include transition(all 100ms ease-in);

  content: "✓";
  background: #eee;
  color: #eee;
  display: inline-block;
  vertical-align: middle;
  padding: 2px;
  width: 10px;
  height: 10px;
  text-align: center;
  font-size: .8em;
  line-height: 1em;
  margin-top: -3px;
}

.checkbox:hover + .checkbox-label:before {
  content: "";
  background: #1eaedb;
  color: #1eaedb;
}

.checkbox-big + .checkbox-label:before, .radio-big + .radio-label:before  {
  width: 20px;
  height: 20px;
  font-size: 1em;
  line-height: 1.4em;
}

.checkbox:checked + .checkbox-label:before {
  content: "✓";
  background: rebeccapurple;
  color: #eee;
}

.checkbox:checked:hover + .checkbox-label:before {
  background: #1eaedb;
}
.radio + .radio-label:before {
  border-radius: 50%;
}

.radio:checked + .radio-label:before {
  content: "✓";
  color: #bbb;
}
