<div class="tasks">
  <div class="task-create">
    {{task-form content=pending placeholder="what do you need to do ?" submit="didSubmitPendingTask"}}
  </div>

  <div class="task-filters">
    {{#link-to 'index' (query-params query="null")}}all{{/link-to}}
    {{#link-to 'index' (query-params query="done")}}done{{/link-to}}
    {{#link-to 'index' (query-params query="undone")}}undone{{/link-to}}
    {{#link-to 'index' (query-params query="public")}}public{{/link-to}}
    {{#link-to 'index' (query-params query="private")}}private{{/link-to}}
  </div>

  {{#each task in filteredContent}}
    {{task-form content=task
                viewer=guid
                autofocus=true
                submit="didSubmitTask"
                cancel="didCancelTask"
                editStart="didStartTaskEdit"
                editEnd="didEndTaskEdit"
                delete="deleteTask"
                done="didSubmitTask"}}
  {{else}}
    <div class="no-tasks">
      Uh, hm, there's no tasks to display.
    </div>
  {{/each}}

  {{outlet}}
</div>
