{{outlet}}

<div class="task task-create">
  {{task-form content=pending submit="didSubmitPendingTask"}}
</div>

{{#each task in filteredContent}}
  {{task-show content=task viewer=guid editStart="didStartTaskEdit" editEnd="didEndTaskEdit"}}
{{/each}}
